.topnav {
    overflow: hidden;
    background-color: #a3d4f7;
    margin-bottom: 30px;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #f0f9ff;
    color: black;
  }
  
  .topnav a.active {
    background-color: #364f6b;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  @media screen and (max-width: 500px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 500px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }